root = true

# All files
#     utf-8 encoding
#     Unix style newlines
#     Newline at end of every file
#     Newline is last character on every line
#     4 space indentation
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
