#NodeJs
node_modules

#Sass
.sass-cache

#Visual Studio
*.ntvs_analysis.dat
*.njsproj
*.sln
*.suo
obj
.ntvs_analysis.dat.tmp

#Inteljj Webstorm
.idea

#Build dir
build

#Bower deps
libs

#Tests
test/javascript
test/coverage