<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">

<dom-module id="onyx-page">

    <style>

        #spinner{
            width: 50px;
            height: 50px;
            margin: auto;
            margin-top: 50px;
            display: block;
        }

    </style>

    <template>
        <iron-ajax
            id="request"
            url="{{src}}"
            handle-as="text"
            on-response="_contentLoadComplete"></iron-ajax>

        <paper-spinner id="spinner" active></paper-spinner>

        <div id="content"></div>
    </template>

    <script>
        "use strict";

        Polymer({
            is: "onyx-page",

            properties: {
                src: {
                    type: String,
                    notify: true,
                    observer: "_srcChanged"
                }
            },

            loading: true,

            ready: function(){
                this.loadContent();
            },

            _srcChanged: function(newValue, oldValue){
                this.loadContent();
            },

            loadContent: function(){
                if(this.src == undefined){
                    return;
                }

                this.$.spinner.style.display = "block";
                this.$.request.generateRequest();
            },

            _contentLoadComplete: function(response){
                this.$.content.innerHTML = this.$.request.lastResponse;

                this.$.spinner.style.display = "none";
            }
        });
    </script>
</dom-module>
