<!DOCTYPE HTML>
<html>
<head>
<title>Noah Huppert</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

<link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>

<body>
    <div class="text-large text-uppercase" id="header">
        About Site
        <a class="text-small" href="/">Back To Home</a>
    </div>

    <div class="text-small" id="body">
        <ul>
            <li>
                I have been furiously working on <a href="https://github.com/Noah-Huppert/Inertial-Motion-Capture">this project</a>
                and I haven't had enough time to make a nice looking site
            </li>
            <li>
                If you would like to see the current state of my website in
                development check out <a href="https://github.com/Noah-Huppert/NoahHuppert.com">the Github repository</a>
            </li>
        </ul>
    </div>
</body>
</html>
