<!DOCTYPE HTML>
<html>
<head>
    <title>Noah Huppert</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <!-- Javascript -->
    <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>

    <!-- Styles -->
    <link rel="import" href="/bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="/css/styles.html">

    <!-- Web Components -->
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
</head>
<body class="fullbleed" unresolved>
    <template is="dom-bind">
        <paper-toolbar class="medium-tall">
          <div class="title">Noah Huppert</div>

          <paper-tabs selected="0" class="bottom self-end flex">
              <paper-tab>Projects</paper-tab>
              <paper-tab>Skills</paper-tab>
              <paper-tab>About Me</paper-tab>
          </paper-tabs>
        </paper-toolbar>
    </template>
</body>
</html>
