<!DOCTYPE HTML>
<html>
<head>
<title>Noah Huppert</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

<link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>

<body>
    <div class="text-large text-uppercase" id="header">
        Noah Huppert

        <a id="gpg-info" href="https://keybase.io/noahh">GPG Key</a>
    </div>

    <ol class="text-small" id="body">
        <li>
            Biography
            <ul>
                <li>
                    My name is Noah Huppert, I am currently a computer science student at Drexel University.
                    I enjoy hanging out with my friends, snowboarding, and programming. I have been programming since
                     I was 9 so I am quite familiar with a bunch of languages.
                </li>
            </ul>
        </li>

        <li>
            Contact

            <ul>
                <li>
                    For general contact please use: developer <b>DOT</b> noah <b>AT</b> gmail <b>DOT</b> com
                </li>
                <li>
                    For secure communication please email using the GPG key listed above or at:
                    noahhuppert <b>AT</b> protonmail <b>DOT</b> com
                </li>
            </ul>
        </li>

        <li>
            Projects

            <ul>
                <li>There are too many projects to list here</li>
                <li> Check out my <a href="https://github.com/Noah-Huppert">Github Noah-Huppert</a></li>
            </ul>
        </li>

        <li>
            Skills

            <ol>
                <li>
                    Programming
                    <ul>
                        <li>
                            Languages

                            <ul>
                                <li>
                                    C++, C, C#, Java, Python, Go, Rust, Swift, GLSL, Ruby, PHP,
                                    Javascript(Also CoffeeScript and Typescript), Shell, Bash, Basic, Lua, SQL, CSS, HTML
                                </li>
                                <li>
                                    If you would like to see sample code for any of these languages feel free to contact me
                                </li>
                           </ul>
                        </li>

                        <li>
                            Frameworks

                            <ul>
                                <li>
                                    Java

                                    <ul>
                                        <li><a href="https://www.playframework.com/">Play Framework</a></li>
                                        <li><a href="https://libgdx.badlogicgames.com/">LibGDX</a></li>
                                    </ul>
                                </li>

                                <li>
                                    C and C++

                                    <ul>
                                        <li><a href="http://www.cmake.org/">CMake</a></li>
                                    </ul>
                                </li>

                                <li>
                                    Ruby

                                    <ul>
                                        <li><a href="http://rubyonrails.org/">Ruby On Rails</a></li>
                                        <li><a href="http://www.sinatrarb.com/">Sinatra</a></li>
                                    </ul>
                                </li>

                                <li>
                                    Javascript

                                    <ul>
                                        <li><a href="http://expressjs.com/">Express JS</a></li>
                                        <li><a href="https://www.meteor.com/">Meteor</a></li>
                                        <li>A lot more...</li>
                                    </ul>
                                </li>

                                <li>
                                    CSS

                                    <ul>
                                        <li><a href="http://sass-lang.com/">SASS</a></li>
                                        <li><a href="https://learnboost.github.io/stylus/">Stylus</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Robotics</li>
                <li>Snowboarding</li>
            </ol>
        </li>
        <li>
            Current OS:

            <ul>
                <li>
                    I am currently using Arch Linux with i3 (<a href="https://github.com/Noah-Huppert/.dotfiles">dotfiles</a>).
                </li>

                <li>
                    The reason I am using Arch Linux is to force myself to learn as much as I can about the internals and
                    operation of linux.
                </li>
            </ul>
        </li>
    </ol>
</body>

</html>
