<!DOCTYPE HTML>
<html>
<head>
<title>Noah Huppert</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/styles.css" >
</head>

<body>
    <div  id="header">
        <div class="text-large">
		Noah Huppert
        </div>

	<div class="text-small" id="gpg-info">
		<a href="https://keybase.io/noahh/key.asc">GPG Key</a> 
		(<a href="https://keybase.io/noahh">Keybase</a>)
	</div>
    </div>

    <div class="h1">
        Biography
    </div>
    <div class="b1">
        My name is Noah Huppert, I am a computer science major at Drexel University.
    </div>

    <div class="h1">
        Contact
    </div>
    <div class="b1">
        <div class="h3">General</div>
        <div class="b2">
            developer <b>DOT</b> noah <b>AT</b> gmail <b>DOT</b> com
        </div>

        <div class="h3">Secure</div>
        <div class="b2">
            noahhuppert <b>AT</b> protonmail <b>DOT</b> com <br><br>
            Use GPG key for file transfer
        </div>
    </div>

    <div class="h1">
        Skills
    </div>
    <div class="h2">
        Programming Languages
    </div>
    <div class="b1">
        C++, C#, Java, Python, Javascript, Go, Rust, Swift, Ruby, HTML, CSS, SQL, GLSL, Basic, PHP, Bash
    </div>

    <div class="h1">
        Projects
    </div>
    <div class="b1 no-indent">
        <a class="text-small no-link-color" href="https://github.com/Noah-Huppert">View my Github</a>
    </div>
</body>
</html>
