/* Fonts */
@font-face {
    font-family: "Courier-New";
    src: url("/fonts/cour.ttf");
}

/* Global */
html, body {
    padding: 1rem;
    font-size: 10px;
    font-family: "Courier-New";
}

ul {
    list-style-type: square;
}

/* Text */
.text-large {
    font-size: 4rem;
}

.text-medium {
    font-size: 3rem;
}

.text-small {
    font-size: 2rem;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Page */
#header {
    height: 6rem;
    line-height: 4rem;
    margin-top: -2rem;
    padding-bottom: 4rem;
    text-align: center;
}

#header a {
    display: block;
    font-size: 2rem;
}

#body {
    max-width: 50rem;
    margin: auto;
}