<div id="sidebar">
	<div class="section">
		<div class="title mdc-typography">Biography</div>
		{{ .Site.Params.biography }}
	</div>

	<div class="section">
		<div class="title mdc-typography">Contact</div>

		<!-- Keybase -->
		<div>
			<img class="little-icon" src="/img/contact/keybase.png" alt="Keybase.io icon">
			<a href="https://keybase.io/{{ .Site.Params.keybaseUsername }}"
			   class="little-icon-text">Keybase</a>
		</div>

		<div>
			<img class="little-icon" src="/img/contact/key.png" alt="Key icon">
			<a href="https://keybase.io/{{ .Site.Params.keybaseUsername }}/key.asc"
			   class="little-icon-text">GPG Key</a>
		</div>

		<!-- Email -->
		{{ range .Site.Params.contactEmails }}
		<div>
			<img class="little-icon" src="img/contact/email.png" alt="Email symbol">
			<div class="little-icon-text">
				{{ .user }} <b>AT</b> {{ .host }} <b>DOT</b> {{ .tld }}
			</div>
		</div>
		{{ end }}

		<!-- GitHub -->
		<div>
			<img class="little-icon" src="/img/contact/github.svg" alt="GitHub logo">
			<a href="https://github.com/{{ .Site.Params.githubUsername }}" 
				class="little-icon-text">
				{{ .Site.Params.githubUsername }}
			</a>
		</div>

		<!-- Twitter -->
		<div>
			<img class="little-icon" src="/img/contact/twitter.svg" alt="Twitter logo">
			<a href="https://twitter.com/{{ .Site.Params.twitterUsername }}" 
				class="little-icon-text">
				{{ .Site.Params.twitterUsername }}
			</a>
		</div>
	</div>

	<div id="languages" class="section">
		<div class="title mdc-typography">Skills</div>
		{{ range $key, $taxonomy := .Site.Taxonomies.languages }}
			{{ $key }}
		{{ end }}
	</div>
</div>
