$colorPrimary: #00E5FF;
$colorSecondary: #F50057;

.color-primary{
  color: $colorPrimary;
}

.color-secondary{
  color: $colorSecondary;
}

.background-primary{
  background-color: $colorPrimary;
}

.background-secondary{
  background-color: $colorSecondary;
}

/* Reset */
html{
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

core-header-panel{
  height: 100%;
}


/* Common */
.card{
  max-width: 500px;
  padding: 10px;
}

.page{
  padding-top: 20px;
}

/* Loading */
#loading{
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: $colorPrimary;
  transition: top 1s;

  #loading-message{
    width: 100%;
    margin: auto;
    top: 40%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 80px;
    color: white;
  }

  #loading-message[error="true"]{
    color: $colorSecondary;
  }

  paper-progress::shadow {
    #progressContainer{
      background-color: white;
    }

    #activeProgress{
      background-color: $colorSecondary;
    }
  }

  paper-progress{
    width: 60%;
    margin: auto;
    top: 45%;
    display: block;
    position: relative;
  }
}

#loading[done="true"]{
  top: -100%;
  position: fixed;
}

/* Header */
#toolbar{
  height: 112px;

  #toolbar-title{
    color: darken($colorPrimary, 30%);
  }

  paper-button{
    font-size: 12px;
    color: white;

    a{
      text-decoration: none;
      color: white;
    }
  }

  #toolbar-user-avatar::shadow #icon{
    width: 35px;
    height: 35px;

    div{
      border: 2px solid white;
      border-radius: 35px;
    }
  }

  paper-tabs{
    max-width: 600px;
    font-size: 16px;
  }

  .tab-link{
    height: 100%;
    margin: 0 12px;
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

/* Projects Page */
#page-projects-add-project{
  top: calc(100% - 76px);
  left: calc(100% - 76px);
  position: fixed;
}

#page-projects-create-project-box{
  margin: auto;

  paper-input{
    width: 100%;
  }

  paper-input::shadow paper-input-decorator{
    padding-top: 0;
  }

  paper-autogrow-textarea{
    width: 100%;
    min-height: 100px;
  }

  paper-input-decorator{
    padding-top: 0;
  }
}
