<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/components/project-tag/project-tag.html">

<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

<dom-module id="x-project">
    <template>
        <style>
            :host {
                font-size: 10px;
                font-family: "Roboto", sans-serif;
            }

            .project-card {
                width: 15rem;
            }

            .project-card .project-language {
                display: inline-block;
            }
        </style>

        <paper-card class="project-card" heading="[[project.name]]">
            <div class="card-content">
                [[project.short_description]]
            </div>

            <div class="card-actions">
                <!-- Tags -->
                <!-- -- -- Languages -->
                <template is="dom-repeat" items="[[project.tags.languages]]" as="lang">
                    <project-tag tags="[[tags]]" category="languages" id="[[lang]]"></project-tag>
                    <!--
                    <div class="project-language">
                        <paper-icon-button src="[[lang.ui_data]]"></paper-icon-button>
                        UIDATA:{{lang.ui_data}}:UIDATA
                        <paper-tooltip>
                            [[mapTagIdToText(tags, "languages", lang)]]
                        </paper-tooltip>
                    </div>
                    -->
                </template>
            </div>
        </paper-card>

        <!--
        Id: [[project.id]]<br>
        Name: [[project.name]]<br>
        Short Description: [[project.short_description]]<br>
        Github Slug: [[project.github_slug]]<br>
        Languages: <br>
        <ul>
            <template is="dom-repeat" items="{{project.tags.languages}}" as="lang">
                <li>[[mapTagIdToText(tags, "languages", lang)]]</li>
            </template>
        </ul>
        Development Areas: <br>
        <ul>
            <template is="dom-repeat" items="{{project.tags.development_areas}}" as="area">
                <li>[[mapTagIdToText(tags, "development_areas", area)]]</li>
            </template>
        </ul>
        Progress: [[mapTagIdToText(tags, "progress", project.tags.progress)]]<br>
        Support: [[mapTagIdToText(tags, "support", project.tags.support)]]
        -->
    </template>

    <script>
        class XProject extends Polymer.Element {
            static get is() {
                return "x-project";
            }

            static get properties() {
                return {
                    project: Object,
                    tags: {
                        type: Object,
                        value: {}
                    }
                };
            }

            constructor() {
                super();
            }

            /**
             * Takes a tag value from a project and looks at the tag field for the pretty Text loaded from /data/tags.json
             * Simply returns value if tags haven't been loaded yet
             *
             * @param tags Tags object, necessary so that computed value changes when tags object loads
             * @param tagName The tag to look at
             * @param value The id of the tag to retrieve text for.
             */
            mapTagIdToText(tags, tagName, value) {
                // If tags are loaded and tag exists
                if (this.tags !== null && this.tags[tagName] !== undefined && this.tags[tagName][value] !== undefined) {
                    return this.tags[tagName][value].text;
                } else {
                    // Otherwise just return value
                    return value;
                }
            }
        }

        customElements.define(XProject.is, XProject);
    </script>
</dom-module>

<dom-module id="x-projects">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                font-size: 10px;
                font-family: "Roboto", sans-serif;
            }

            /* Projects loading */
            #projects-loading {
                width: 100%;
                height: 100%;
                font-family: "Lato", sans-serif;
                font-style: italic;
            }

            #projects-loading div {
                width: 100%;
                text-align: center;
            }

            #projects-loading.error {
                color: #F44336;
            }

            #projects-loading #loading-title {
                font-size: 8rem;
                font-weight: 100;
            }

            #projects-loading #loading-message {
                font-size: 1rem;
                font-weight: 300;
            }
        </style>

        <!-- Data -->
        <iron-ajax
                auto
                url="/data/projects.json"
                handle-as="json"
                on-error="loadError"
                on-response="loadSuccess"
                last-response="{{projects}}"></iron-ajax>

        <!-- Loading -->
        <div id="projects-loading" style$="display: [[loadingState.loadingDisplay]];">
            <div>
                <div id="loading-title">
                    Loading
                </div>
                <div id="loading-message">
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div id="projects" style$="display: [[loadingState.projectsDisplay]];">
            <template is="dom-repeat" items="{{projects}}">
                <x-project tags="[[tags]]" project="[[item]]"></x-project>
            </template>
        </div>
    </template>

    <script>


        class XProjects extends Polymer.Element {
            static get is() {
                return "x-projects";
            }

            static get properties() {
                return {
                    tags: {
                        type: Object,
                        value: {}
                    }
                }
            }

            static get observers() {
                return [
                    "loadingStateBigMessageChanged(loadingState.bigMessage)",
                    "loadingStateDetailedMessageChanged(loadingState.detailedMessage)"
                ];
            }

            constructor() {
                super();

                // Content Constants
                this.LOADING_EL = "projects-loading";
                this.LOADING_TITLE_ID = "loading-title";
                this.LOADING_MESSAGE_ID = "loading-message";

                this.DISPLAY_SHOW = "block";
                this.DISPLAY_HIDE = "none";

                this.MESSAGE_LOADING_BASE = "Loading";

                this.MESSAGE_LOADING_TOO_LONG = "Projects data is taking too long to load.<br>" +
                    "Something may have gone wrong";//, an anonymous bug report has been submitted.";
                this.LOADING_TOO_LONG_TIMEOUT = 10000;

                // Loading state to display
                this.loadingState = {
                    loadingDisplay: this.DISPLAY_SHOW,
                    projectsDisplay: this.DISPLAY_HIDE,
                    bigMessage: this.MESSAGE_LOADING_BASE,
                    detailedMessage: ""
                };

                // Data
                this.projects = [];
                var self = this;
                this.loadingState.tooLongTimeout = setTimeout(function() {
                    self.set("loadingState.detailedMessage", self.MESSAGE_LOADING_TOO_LONG);
                }, this.LOADING_TOO_LONG_TIMEOUT)
            }

            // Observers
            // -- -- loadingStage messages
            loadingStateBigMessageChanged(bigMessage) {
                var el = this.$[this.LOADING_TITLE_ID];
                if (el.innerHTML !== bigMessage) {
                    el.innerHTML = bigMessage;
                }
            }

            loadingStateDetailedMessageChanged(detailedMessage) {
                var el = this.$[this.LOADING_MESSAGE_ID];
                if (el.innerHTML !== detailedMessage) {
                    el.innerHTML = detailedMessage;
                }
            }


            // /data/projects.json loading handlers
            loadSuccess(event) {
                // Stop loading too long timeout
                clearTimeout(this.loadingState.tooLongTimeout);

                // Hide loading box
                this.set("loadingState.loadingDisplay", this.DISPLAY_HIDE);
                this.set("loadingState.projectsDisplay", this.DISPLAY_SHOW);
            }

            loadError(err, detail) {
                // Stop loading too long timeout
                clearTimeout(this.loadingState.tooLongTimeout);

                // Set error text
                this.$[this.LOADING_EL].classList.add("error");
                this.set("loadingState.detailedMessage", "Error loading projects.json: " + detail.request.status + " " + detail.request.statusText);
            }
        }

        customElements.define(XProjects.is, XProjects);
    </script>
</dom-module>
