.color-primary {
  color: #00E5FF; }

.color-secondary {
  color: #F50057; }

.background-primary {
  background-color: #00E5FF; }

.background-secondary {
  background-color: #F50057; }

/* Reset */
html {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word; }

core-header-panel {
  height: 100%; }

/* Common */
.card {
  max-width: 500px;
  margin: auto;
  padding: 10px; }
  .card .title {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 24px;
    border-bottom: 1px solid #C4C4C4; }
  .card .subtitle {
    right: 0;
    bottom: 0;
    position: absolute;
    color: gray;
    font-size: 16px; }
  .card .content {
    margin-top: 10px; }

.page {
  padding-top: 20px; }

a {
  color: #F50057;
  text-decoration: none; }

/* Loading */
#loading[done="false"], body {
  overflow: hidden; }

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  background: #00E5FF;
  transition: top 1s;
  color: white;
  position: fixed; }
  #loading #loading-title-message {
    width: 100%;
    margin: auto;
    top: 40%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 80px; }
  #loading #loading-report-error-button {
    display: none; }
  #loading #loading-report-error-instructions {
    width: 50%;
    max-width: 600px;
    top: 40%;
    display: none;
    position: relative;
    background: white;
    color: black; }
  #loading #loading-progress-message {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    top: 40%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 40px; }
  #loading paper-progress::shadow #progressContainer {
    background-color: white; }
  #loading paper-progress::shadow #activeProgress {
    background-color: #F50057; }
  #loading paper-progress {
    width: 60%;
    margin: auto;
    top: 45%;
    display: block;
    position: relative; }

#loading[error="true"] {
  color: #F50057; }
  #loading[error="true"] #loading-title-message {
    display: none; }
  #loading[error="true"] #loading-report-error-button {
    width: 50%;
    max-width: 600px;
    margin: auto;
    top: 40%;
    display: block;
    position: relative;
    text-align: center;
    font-size: 60px;
    color: white; }

#loading[done="true"] {
  top: -100%;
  position: fixed; }

/* Header */
#toolbar {
  height: 112px; }
  #toolbar #toolbar-title {
    color: #005c66; }
  #toolbar paper-button {
    font-size: 12px;
    color: white; }
    #toolbar paper-button a {
      text-decoration: none;
      color: white; }
  #toolbar #toolbar-user-avatar::shadow #icon {
    width: 35px;
    height: 35px; }
    #toolbar #toolbar-user-avatar::shadow #icon div {
      border: 2px solid white;
      border-radius: 35px; }
  #toolbar paper-tabs {
    max-width: 600px;
    font-size: 16px; }
  #toolbar .tab-link {
    height: 100%;
    margin: 0 12px;
    text-decoration: none;
    color: inherit;
    display: block; }

/* Projects Page */
/*#page-projects-add-project{
  top: calc(100% - 76px);
  left: calc(100% - 76px);
  position: fixed;
}

#page-projects-create-project-box{
  margin: auto;

  paper-input{
    width: 100%;
  }

  paper-input::shadow paper-input-decorator{
    padding-top: 0;
  }

  paper-autogrow-textarea{
    width: 100%;
    min-height: 100px;
  }

  paper-input-decorator{
    padding-top: 0;
  }
}*/
#page-projects #add-project-fab {
  top: calc(100% - 76px);
  left: calc(100% - 76px);
  position: fixed; }
#page-projects #create-project-box paper-tabs {
  color: white; }
#page-projects #create-project-box paper-tabs::shadow #selectionBar {
  background-color: black; }
#page-projects #create-project-box core-pages .core-selected.create-project-page {
  position: relative; }
#page-projects #create-project-box label {
  font-weight: bold;
  display: block;
  margin-top: 15px; }
#page-projects #create-project-box paper-input {
  width: 100%; }
#page-projects #create-project-box paper-input::shadow paper-input-decorator {
  padding-top: 0; }
#page-projects #create-project-box paper-autogrow-textarea {
  width: 100%;
  min-height: 100px; }
#page-projects #create-project-box paper-input-decorator {
  padding-top: 0; }
#page-projects #create-project-box #create-project-compose paper-shadow {
  min-height: 100px;
  background: lightgrey; }
#page-projects #create-project-box #create-project-date {
  width: auto; }

/*# sourceMappingURL=styles.css.map */
