<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="/bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="/bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="/bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="/bower_components/app-layout/app-header/app-header.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/components/x-projects/x-projects.html">

<!--<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Playfair+Display|PT+Serif|Roboto-Mono:300|Roboto:300" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Playfair+Display|PT+Serif|Roboto-Mono:300|Roboto:300|Lato:100i,300i" rel="stylesheet">

<dom-module id="x-app">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                font-size: 10px;
                font-family: "Roboto", sans-serif;
            }

            /* Drawer */
            app-drawer {
                --app-drawer-content-container: {
                    margin-top: 2rem;
                    border-right: 1px solid rgba(0, 0, 0, 0.3);
                };
            }

            .drawer-half {
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #title {
                font-size: 2.5rem;
                text-align: center;
                font-family: 'Bungee Shade', cursive;
            }

            #bio {
                padding: 0.5rem;
                text-align: left;
                font-size: 1.2rem;
            }

            /* Content */
            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            #main-toolbar {
                width: 100%;
            }

            #page {
                margin-left: 1rem;
            }
        </style>

        <app-drawer-layout fullbleed>
            <!-- Data -->
            <iron-ajax
                auto
                url="/data/tags.json"
                handle-as="json"
                on-error="tagsLoadError"
                on-response="tagsLoadSuccess"
                last-response="{{tags}}"></iron-ajax>


            <!-- Drawer -->
            <app-drawer slot="drawer" opened persistent>
                <div class="drawer-half">
                    <div>
                        <div id="title" main-title>Noah Huppert</div>
                        <app-toolbar>
                            <paper-button raised>Contact</paper-button>
                            <paper-button raised>Resume</paper-button>
                        </app-toolbar>
                    </div>
                </div>
                <div id="bio">
                    Hello my name is Noah Huppert. I am currently a first year Computer Science student at Drexel
                    University. I've been programming since the age of 9 and am always exploring and learning new
                    things.
                </div>
            </app-drawer>

            <!-- Content -->
            <app-header-layout>
                <app-header slot="header">
                    <app-toolbar id="main-toolbar">
                        <paper-icon-button icon="menu" title="Menu" drawer-toggle></paper-icon-button>
                        <div main-title>Projects</div>
                    </app-toolbar>
                </app-header>

                <div id="page">
                    <x-projects tags="[[tags]]"></x-projects>
                </div>
            </app-header-layout>

        </app-drawer-layout>

    </template>

    <script>
        class XApp extends Polymer.Element {
            static get is() { return "x-app" }
            constructor() {
                super();

                // Data
                this.tags = {};
            }

            ready() {
                super.ready();
            }

            // /data/tags.json tags loading events
            tagsLoadSuccess(event) {

            }

            tagsLoadError(err, o) {

            }
        }

        customElements.define(XApp.is, XApp);
    </script>
</dom-module>
