<link rel="import" href="/bower_components/polymer/polymer-element.html">

<!--<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Playfair+Display|PT+Serif|Roboto-Mono:300|Roboto:300" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Playfair+Display|PT+Serif|Roboto-Mono:300|Roboto:300" rel="stylesheet">

<dom-module id="x-app">
    <template>
        <style>
            :host {
                width: 100%;
                height: 100%;
                font-size: 10px;
            }

            #main-title {
                font-family: 'Bungee Shade', cursive;
            }

            #content {
                height: 100%;
                padding: 1rem;
                font-size: 2rem;
            }
        </style>


    </template>

    <script>
        class XApp extends Polymer.Element {
            static get is() { return "x-app" }
            constructor() {
                super();

                this.headerImages = [
                    {"src":"bridge", "color":"ad7a49"},
                    {"src":"dock", "color":"80acf8"},
                    {"src":"mountains", "color":"7c99c4"},
                    {"src":"subway", "color":"bd8d0d"},
                    {"src":"garden", "color":"a7d870"},
                    {"src":"dark-window", "color":"a90509"},
                    {"src":"sail-boats", "color":"e5a77f"},
                    {"src":"lake", "color":"f4d9c3"},
                    {"src":"tippling", "color":"c4263c"},
                    {"src":"japan", "color":"b2995f"}
                ];
                this.randomizeHeaderImage();
            }

            getHeaderImage(attr) {
                return this.get(`headerImages.${this.headerImageI}.${attr}`);
            }

            randomizeHeaderImage() {
                this.headerImageI = getRandomInt(0, this.headerImages.length - 1);
            }
        }

        customElements.define(XApp.is, XApp);
    </script>

</dom-module>
