/* Generic built-in */
:root {
    font-size: 10px;

    --error-height: 4.8rem;
    --header-height: 65rem;
    --color-red: #F44336;
}

body {
    margin: 0;

    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    
    font-style: normal;
    font-weight: normal;
    font-family: 'Lekton', sans-serif;
}

h1 {
    line-height: 10rem;
    
    font-size: 10rem;
}

h2 {
    font-size: 6rem;
    text-decoration: underline;
}

/* Generic custom  */
.bold {
    font-weight: bold;
}

.padded {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
    padding-bottom: 0;
}

.content-max {
    margin: auto;
    max-width: 120rem;
}

/* No script */
#noscript {
    width: 100%;
    padding: 1rem;

    background: var(--color-red);
    font-size: 2rem;
    color: white;
    text-align: center;
}
